/* Contact Form Style */

.contact-form-section {
  margin: 0px auto;
  /* height: 300px; */
  /* padding: 40px; */
  padding-top: 20px;
  padding-bottom: 50px;
}

/* Contact Form Style End */

/* .form-container {
  display: flex;
  flex-direction: column;
} */

.form-container p {
  padding: 0px;
  padding-bottom: 5px;
}

.contact-form {
  padding: 40px;
  width: 70%;
  margin: auto;
}

.contact-form input {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.contact-form textarea {
  width: 70%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  margin-bottom: 15px;
}