/* Contact Form Style */

.contact-form-section {
  margin: 0px auto;
  padding-top: 20px;
  padding-bottom: 50px;
}

.form-section {
  margin: 0px auto;
  padding-top: 20px;
  padding-bottom: 50px;
}

.form-container p {
  padding: 0px;
  padding-bottom: 5px;
}

.formulaire {
  padding: 40px;
  width: 70%;
  margin: auto;
}

.formulaire input {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.formulaire textarea {
  width: 70%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  margin-bottom: 15px;
}

.formulaire select {
  width: 70%;
  padding: 12px 20px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  margin-bottom: 15px;
  border-radius: 4px;

}

/* Contact Form Style End */
